* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto en lugar del predeterminado azul */
    outline: none; /* Elimina el outline cuando el enlace tiene el foco */
}