/* Página completa */
body {
    margin: 0;
    padding: 0;
    font-family: var(--pkd-font-family);
    background-color: var(--pkd-color-background);
    color: var(--pkd-color-dark);
}

.pokedex {
    width: 360px;
    height: 640px;
    border: var(--pkd-border-width) solid var(--pkd-color-primary);
    background-color: var(--pkd-color-secondary);
    overflow: hidden;
}

/* Header */
.header-container {
    padding: var(--pkd-spacing-m);
    background: var(--pkd-color-primary);
    display: flex;
    flex-direction: column;
    gap: var(--pkd-spacing-s);
}
.header-logo-title {
    display: flex;
    align-items: center;
    gap: var(--pkd-spacing-l);
}
.header-logo {
    width: 24px;
    height: 24px;
}
.header-title {
    color: var(--pkd-color-secondary);
    font-size: var(--pkd-font-size-headline);
    font-weight: 700;
}

/* Search */
.header-search {
    display: flex;
    gap: var(--pkd-spacing-s);
    align-items: center;
}
.search-container {
    display: flex;
    width: 100%; 
    align-items: center;
    gap: var(--pkd-spacing-s);
    background: var(--pkd-color-secondary);
    padding: var(--pkd-spacing-s) var(--pkd-spacing-m); 
    border-radius: var(--pkd-border-radius-m);
    box-shadow: var(--pkd-shadow-inset);
}
.search-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    filter: brightness(0) saturate(100%) invert(12%) sepia(87%) saturate(3868%) hue-rotate(343deg) brightness(94%) contrast(107%);
}
.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: var(--pkd-font-size-body3);
    font-family: var(--pkd-font-family);
    font-weight: 400;
    line-height: 16px;
    font-style: normal;
    color: var(--pkd-color-medium);
    background: transparent;
    padding: 0;
}
.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--pkd-spacing-s);
    background: var(--pkd-color-secondary);
    border: none;
    box-shadow: var(--pkd-shadow-inset);
    border-radius: var(--pkd-border-radius-m);
    cursor: pointer;
}
.search-button img {
    width: 16px;
    height: 16px;
    filter: brightness(0) saturate(100%) invert(12%) sepia(87%) saturate(3868%) hue-rotate(343deg) brightness(94%) contrast(107%);
}


/* Dropdown */
.dropdown-container {
    position: relative;
}
.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--pkd-color-secondary);
    border: 1px solid var(--pkd-color-light);
    border-radius: var(--pkd-border-radius-s);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;
    box-shadow: var(--pkd-shadow-small);
    z-index: 10;
}
.dropdown li {
    padding: var(--pkd-spacing-s);
    cursor: pointer;
    font-size: var(--pkd-font-size-body3);
    color: var(--pkd-color-dark);
    text-align: left;
}
.dropdown li:hover {
    background-color: var(--pkd-color-primary);
    color: var(--pkd-color-secondary);
}
.hidden {
    display: none;
}



/* Grid */
.grid {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    gap: var(--pkd-spacing-s);
    padding: var(--pkd-spacing-m);
    justify-content: space-between; /* Distribuye las tarjetas en la fila */
    box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
    max-width: 100%; /* Asegura que el ancho de la grid no exceda el contenedor */
    
}
.card {
    display: flex; /* Para usar flexbox */
    flex-direction: column; /* Para alinear los elementos de arriba a abajo */
    width: 104px;
    height: 108px;
    border: 1px solid var(--pkd-color-light);
    border-radius: var(--pkd-border-radius-s);
    box-shadow: var(--pkd-shadow-small);
    overflow: hidden;
    background: var(--pkd-color-white); 
    position: relative;
}

/* Fondo gris desde la mitad hacia abajo */
.card-content {
    position: absolute;
    bottom: 0; /* Se coloca en la parte inferior de la tarjeta */
    width: 100%; /* Ocupa todo el ancho */
    height: 40%; /* Cubre la mitad inferior de la tarjeta */
    background-color: var(--pkd-color-background);
    padding: var(--pkd-spacing-xs);
    border-radius: var(--pkd-border-radius-xs);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* ID del Pokémon */
.pokemon-id {
    padding-right: var(--pkd-spacing-s);
    padding-top: var(--pkd-spacing-s);
    padding-left: var(--pkd-spacing-s);
    font-size: var(--pkd-font-size-caption);
    color: var(--pkd-color-medium);
    display: flex;
    justify-content: flex-end;
}


/* Imagen del Pokémon */
.pokemon-img {
    width: 72px;
    height: 72px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
}


/* Nombre del Pokémon */
.card-content h2 {
    display: flex;
    justify-content: center;
    font-size: var(--pkd-font-size-body3);
    color: var(--pkd-color-dark);
    text-align: center;
    overflow: hidden; /* Asegura que no se desborde si el texto es largo */
    text-overflow: ellipsis; /* Añadir "..." si el texto es demasiado largo */
    white-space: nowrap; /* Asegura que el texto no se divida en varias líneas */
    margin: 0;
}




/* DETAILS */

.character-detail__container{
    height: 100%;
}

/* Header */
.page__header-container {
    padding: var(--pkd-spacing-m);
    background: var(--pkd-color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--pkd-spacing-s);
}

.back-button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.back-button img {
    width: 24px;
    height: 24px;
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(100%) contrast(100%) drop-shadow(0px 0px 0px var(--pkd-color-secondary));
}

.character-name {
    color: var(--pkd-color-secondary);
    font-size: var(--pkd-font-size-headline);
    font-weight: 700;
    text-align: left;
    flex: 1;
}

.character-id {
    color: var(--pkd-color-secondary);
    font-size: var(--pkd-font-size-subtitle1);
    text-align: right;
    padding-left: var(--pkd-spacing-l);
}





/* Estilo para los contenedores y secciones adicionales */

/* imagen */

.character-detail__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: var(--pkd-color-primary);
}

.character-detail__img {
    width: 200px;
    height: 200px;
    align-self: stretch;
}

/* chips */

.character-detail__type {
    display: flex;
    justify-content: center;
    gap: var(--pkd-spacing-s);
}

.type-chip {
    background-color: var(--pkd-color-light);
    color: var(--pkd-color-dark);
    font-size: var(--pkd-font-size-body2);
    padding: var(--pkd-spacing-xs) var(--pkd-spacing-s);
    border-radius: var(--pkd-border-radius-s);
    box-shadow: var(--pkd-shadow-small);
}

/* About, Moves, and Stats Sections */
.character-description__subheader {
    font-size: var(--pkd-font-size-subtitle1);
    color: var(--pkd-color-primary);
}

.character-detail__info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--pkd-spacing-s);
    align-self: stretch;
}

/* About */
.character-detail__about{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.info-pokemon{
    display: flex;
 /* height: 412px;*/
    padding: 56px 20px 20px 20px;
    flex-direction: column;
    align-items: center;
    gap: var(--pkd-spacing-l);
    border-radius: var(--pkd-border-radius-s);
    background-color: var(--pkd-color-white);
    align-self: stretch;
}

.info-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: var(--pkd-spacing-s);
    padding-bottom: var(--pkd-spacing-s);
    width: 100%;
}

.info-lisitem{
    display: flex ;
    flex-direction: row;
}
.info-item img {
    width: 16px;
    height: 16px;
}

.info-text {
    font-size: var(--pkd-font-size-body3);
    color: var(--pkd-color-dark);
    margin-top: var(--pkd-spacing-xs);
}

.info-caption{
    font-size: var(--pkd-font-size-caption);
}

/* Moves */
.character-detail__moves{
    padding: var(--pkd-spacing-xs);
    display: -webkit-box; /* Habilita el comportamiento de caja flexible */
    -webkit-line-clamp: 2; /* Limita el texto a 2 líneas */
    -webkit-box-orient: vertical; /* Orienta las cajas en dirección vertical */
    overflow: hidden; /* Oculta el contenido que excede las líneas */
    text-overflow: ellipsis; /* Agrega puntos suspensivos al final del texto truncado */
    width: 100%;

}

.character-detail__base-stats{
    padding: var(--pkd-spacing-xs);
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* Base Stats */
.base-stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--pkd-spacing-s);
}

.stat-bar {
    flex: 1;
    height: 8px;
    background: var(--pkd-color-light);
    border-radius: var(--pkd-border-radius-xs);
    overflow: hidden;
    position: relative;
}

.stat-bar input {
    width: 100%;
    height: 100%;
    background-color: var(--pkd-color-primary);
    border: none;
    border-radius: var(--pkd-border-radius-xs);
    opacity: 0.5;
}

.stat-score {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--pkd-font-size-body2);
    color: var(--pkd-color-dark);
}








/* Footer */
.page-footer {
    color: var(--pkd-color-primary);
    padding: var(--pkd-spacing-l);
    font-size: var(--pkd-font-size-caption);
    text-align: center;
}
