/* Página completa */
body {
    font-family: var(--pokedex-font-family);
    margin: 0;
    padding: 0;
    background-color: var(--pokedex-color-background);
}
.pokedex {
    max-width: 400px;
    margin: 0 auto;
    border: var(--pokedex-border-width) solid var(--pokedex-color-primary);
    border-radius: var(--pokedex-border-radius);
    background-color: var(--pokedex-color-white);
}

/* Header */
header {
    background-color: var(--pokedex-color-primary);
    color: var(--pokedex-color-white);
    padding: var(--pokedex-spacing-medium);
    display: flex;
    align-items: center;
    gap: var(--pokedex-spacing-small);
    border-radius: var(--pokedex-border-radius) var(--pokedex-border-radius) 0 0;
}
header h1 {
    font-size: var(--pokedex-font-size-headline);
    font-weight: bold;
    margin: 0;
}
header .company__logo {
    width: 50px;
    height: 50px;
}

/* Search */
section {
    padding: var(--pokedex-spacing-small);
}
.search-bar {
    display: flex;
    gap: var(--pokedex-spacing-small);
}
.search-bar input {
    flex-grow: 1;
    padding: var(--pokedex-spacing-small);
    border: 1px solid var(--pokedex-color-medium-shade);
    border-radius: 5px;
    background: url('assets/icons/search.webp') no-repeat left 10px center;
    background-size: 16px;
    padding-left: 35px;
}
.search-bar button {
    padding: var(--pokedex-spacing-small);
    border: none;
    background-color: var(--pokedex-color-primary);
    color: var(--pokedex-color-white);
    border-radius: 5px;
    cursor: pointer;
}
.search-bar button img {
    width: 16px;
    height: 16px;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--pokedex-spacing-small);
}

/* Article */
article {
    text-align: center;
    border: 1px solid var(--pokedex-color-light-shade);
    border-radius: var(--pokedex-border-radius);
    padding: var(--pokedex-spacing-small);
    background-color: var(--pokedex-color-white);
    box-shadow: var(--pokedex-box-shadow-small);
}
article img {
    width: 80px;
    height: auto;
}
article h2 {
    margin-top: var(--pokedex-spacing-small);
    font-weight: bold;
    font-size: var(--pokedex-font-size-body1);
}
article p {
    color: var(--pokedex-color-medium-shade);
    font-size: var(--pokedex-font-size-body2);
    margin: 5px 0 0;
}













/* Footer */
.page-footer {
    background-color: var(--db-color-secondary);
    padding: var(--db-spacing-lg);
    color: var(--db-color-text);
    text-align: center;
}
