/** VARIABLES GENERALES **/
:root {
    /* Colores principales */
    --pkd-color-primary: #DC0A2D;
    --pkd-color-secondary: #FFFFFF;
    --pkd-color-dark: #212121;
    --pkd-color-medium: #666666;
    --pkd-color-light: #E0E0E0;
    --pkd-color-background: #EFEFEF;

    /* Colores adicionales (Pokémon types) */
    --pkd-color-bug: #A7B723;
    --pkd-color-dark-type: #75574C;
    --pkd-color-dragon: #7037FF;
    --pkd-color-electric: #F9CF30;
    --pkd-color-fairy: #E69EAC;
    --pkd-color-fighting: #C12239;
    --pkd-color-fire: #F57D31;
    --pkd-color-flying: #A891EC;
    --pkd-color-ghost: #70559B;
    --pkd-color-normal: #AAA67F;
    --pkd-color-grass: #74CB48;
    --pkd-color-ground: #DEC16B;
    --pkd-color-ice: #9AD6DF;
    --pkd-color-poison: #A43E9E;
    --pkd-color-psychic: #FB5584;
    --pkd-color-rock: #B69E31;
    --pkd-color-steel: #B7B9D0;
    --pkd-color-water: #6493EB;

    /* Sombras (colores generales) */
    --pkd-color-dark-shade: #212121;
    --pkd-color-medium-shade: #666666;
    --pkd-color-light-shade: #E0E0E0;
    --pkd-color-white: #FFFFFF;

    /* Tipografía */
    --pkd-font-family: 'Poppins', sans-serif;
    --pkd-font-size-headline: 24px;
    --pkd-font-size-subtitle1: 14px; /* Subtitle 1 */
    --pkd-font-size-subtitle2: 12px; /* Subtitle 2 */
    --pkd-font-size-subtitle3: 10px; /* Subtitle 3 */
    --pkd-font-size-body1: 14px; /* Body 1 */
    --pkd-font-size-body2: 12px; /* Body 2 */
    --pkd-font-size-body3: 10px; /* Body 3 */
    --pkd-font-size-caption: 8px; /* Caption */

    /* Espaciado */
    --pkd-spacing-xs: 4px;
    --pkd-spacing-s: 8px;
    --pkd-spacing-m: 12px;
    --pkd-spacing-l: 16px;
    --pkd-spacing-xl: 24px;

    /* Bordes */
    --pkd-border-radius-xs: 8px;
    --pkd-border-radius-s: 10px;
    --pkd-border-radius-m: 16px;
    --pkd-border-width: 2px;

    /* Sombras */
    --pkd-shadow-small: 0 1px 3px rgba(0, 0, 0, 0.2);
    --pkd-shadow-large: 0 3px 12px rgba(0, 0, 0, 0.2);
    --pkd-shadow-inset: inset 0 1px 3px rgba(0, 0, 0, 0.25);
}
